node_modules
dist
src/client/**/*.js
src/**/*.js.map
src/server/**/*.js
src/server/**/*.js.map
src/domain/**/*.js
src/domain/**/*.js.map
src/common/**/*.js
src/common/**/*.js.map
app.js
app.js.map
npm-debug.log
!karma.conf.js
!gulpfile.js
!systemjs-config.js
!src/tasks/*.js
qq
coverage