node_modules
src/typings
dist
src/client/**/*.js
src/**/*.js.map
src/server/**/*.js
src/server/**/*.js.map
src/common/**/*.js
src/common/**/*.js.map
app.js
app.js.map
npm-debug.log
!karma.conf.js
!gulpfile.js
!/tasks/*.js
!systemjs-config.js
!src/tasks/*.js
qq
!typings
typings/*
!typings/custom/
coverage