node_modules
dist
src/app/**/*.js
src/**/*.js.map
src/e2e/**/*.js
src/e2e/**/*.js.map
app.js
app.js.map
npm-debug.log
debug.log
!karma.configuration.js
!gulpfile.js
!src/tasks/*.js
qq
coverage
webpack.config.js