@import '../controllers/home.controller/home.controller.scss';
@import '../controllers/room.controller/room.controller.scss';

.large {
    font-size: 22px;
}

.dark {
    color: #000;
}

.nav, .pagination, .carousel, .panel-title a { 
    cursor: pointer; 
}