$fa-var-zero: "\0030";
$fa-var-one: "\0031";
$fa-var-half: "1/2";
$fa-var-two: "\0032";
$fa-var-three: "\0033";
$fa-var-five: "\0035";
$fa-var-eight: "\0038";
$fa-var-thirteen: "13";
$fa-var-twenty: "20";
$fa-var-forty: "40";
$fa-var-one-hundred: "100";