<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li>
            <a class="planning-start" href="#"><i class="fa fa-play"></i>&nbsp;Start planning</a>
        </li>
        <li ng-if="false">
            <a class="planning-reset" href="#"><i class="fa fa-circle"></i>&nbsp;Reset planning</a>
        </li>
        <li ng-if="false">
            <a class="planning-stop" href="#"><i class="fa fa-stop"></i>&nbsp;Stop planning</a>
        </li>
        <li ng-if="false">
            <a class="planning-lock" href="#"><i class="fa fa-lock"></i>&nbsp;Lock</a>
        </li>
        <li ng-if="false">
            <a class="planning-unlock" href="#"><i class="fa fa-unlock"></i>&nbsp;Unlock</a>
        </li>
        <li ng-if="false">
            <a class="planning-show" href="#"><i class="fa fa-users"></i>&nbsp;Show cards</a>
        </li>
    </ul>
</div>